:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --nav-width-expanded: 250px;
    --first-color: rgba(238, 241, 241, 0.79);
    --first-color-light: #461ee4;
    --white-color: rgb(0, 0, 0);
    --body-font: 'Nunito', sans-serif;
    --glass-background:#e1e0db;

  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--body-font);
    background: f3fbfb;
    color: var(--white-color);

   
  }
  /* Main container for layout */
.app-container {
  display: flex;
  height: 100vh; /* Full screen height */
  background: var(--glass-background);
}

.links-container {
  height: 100vh; /* Full sidebar height */
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1; /* Take remaining space */
  padding: 20px;
  overflow-y: auto;
  background-color: #f3fbfb;
  color: var(--white-color);
}
